rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /games/fleshAndBlood {
      match /cards/{document=**} {
        allow read: if true;
      }
    }
  }
}